extends base

block content
  section.contact__main
    .info__block
      .info__block--heading
        h2.contact__heading contact info
      .info__block--content
        .contact__name
          p.contact__name--label client name :
          p.contact__name--input=`${user.name} `
        .contact__number
          p.contact__number--label phone number :
          p.contact__number--input=`${user.number}` 
        .contact__send
          button.btn.contact__send--btn(data-user-id=`${user._id}`) send message